@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body
{
    font-family: 'Comfortaa', cursive;
    margin: 0;
}
nav
{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}
nav img
{
    height: 100px;
    float: left;
}

.nav-links
{
    display: flex;
    list-style: none;
    background-color: #e9aa11;
    float: right;
    border-radius: 0 36px 0 36px;
    padding-top: 15px;
}

.nav-links li, .search
{
    margin: 10px;
}

.search
{
    color: #e9aa11;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.nav-links li
{
    color: white;
}

.items-display
{
    margin: 0 50px 0 100px;   
    

}

.display-nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.display-nav h2
{
    font-size: 36px;
}
.arrow-left, .arrow-right
{
    background-color: #e9aa11;
    border-radius: 50%;
    height: 30px;
    padding: 20px 23px;
    margin: 10px;
    color: white;
}

.arrows
{
    margin-top: 45px;
    margin-right: 50px;
    /* margin-bottom: 10px; */
}
.item-list
{
    display: flex;
    flex-wrap: wrap;
}

.item
{
    background-color: #52ACFF;
background-image: linear-gradient( #52ACFF 25%, #FFE32C 100%);

    height: max-content;
    width: 195px;
    padding: 5px;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    margin: 20px 30px 20px 0px;
}

.item img
{
    height: 120px;
    margin-top: 30px;
    
}
.item-desc
{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    /* padding-top: 8px; */
    min-height: min-content;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.item-desc p
{
    margin-bottom: 5px;
    font-weight: bolder;
}

.item-desc p1
{
    color: rgb(189, 131, 7);
}

.item-desc p2
{
    margin-top: 10px;
}

.item-icon
{
    float: right;
    color: rgb(189, 131, 7);
    /* height: 48px; */
    margin: 0 20px 0 10px;
}


/* ----------------------------------------------- */

.item-view
{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:  rgb(0, 0, 0, 0.5);
    display: none;
   
}

.item-active
{
    /* background-color: #003cff; */
    background-color: #52ACFF;
background-image: linear-gradient(270deg, #52ACFF 25%, #FFE32C 100%);

    margin: 120px auto 0 auto;
    /* padding: 20px; */
    width: 800px;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.2), 0 7px 20px 0 rgb(0, 0, 0, 0.2);
    animation-name:modalopen;
    animation-duration: 1s;
    align-content: center;
}

.item-active img
{
    height: 300px;
    display: inline-block;
    width: space-between;
}
.item-list-desc
{
    background-color: white;
    border-radius: 0 0 25px 25px;
    padding: 10px;
    /* padding-top: 8px; */
    min-height: min-content;
    height: 100px;
    width: 780px;
    margin: 0 auto;   
}

.item-list-desc p
{
    margin-bottom: 5px;
    font-weight: bolder;
    margin-top: 0;
}

.item-list-desc p1
{
    color: rgb(189, 131, 7);
}

.item-list-desc p2
{
    margin-top: 10px;
}
.item-view-button
{
    background-color: rgb(50, 240, 91);
    opacity: 0.5;
    height: 50px;
    width: 50px;
    position: relative;
    top: 0;
    border-width: 0;
}

.next
{
    float: right;
}

.prev
{ 
    float: left;
}

.next, .prev
{
    margin-top: 100px;
}

.closeBtn
{
    color: #fff;
    float: right;
    font-size: 30px;
    margin: 20px;
}

.closeBtn:hover, .closeBtn:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}